<a href="https://colab.research.google.com/github/pankil21/Projects/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [60]:
import numpy as np #nummy is used to make numpy arrary  
import pandas as pd #pandas to create the dataframs
from sklearn.preprocessing import StandardScaler #to standardise the data in common range 
from sklearn.model_selection import train_test_split #to train test and split the data 
from sklearn import svm #support vactor machine
from sklearn.metrics import accuracy_score #to evaluate our model accuracy

Data collection and Analysis (PIMA Diabetes Dataset)

In [61]:
diabetes_dataset= pd.read_csv('/content/diabetes.csv')

In [4]:
diabetes_dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
diabetes_dataset.shape

(768, 9)

In [10]:
#to know what this function does and how #pd.read_csv?

In [12]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0--> Non Diabetic 

1--> Diabetic

In [16]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [17]:
#separating the data and labels
X = diabetes_dataset.drop(columns= 'Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [18]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [19]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [20]:
scaler = StandardScaler() #using the sklearn liberary to standardization

In [23]:
scaler.fit(X) # to fit the X table, basically we are fillting the inconsistant data

StandardScaler()

In [25]:
standardized_data = scaler.transform(X)

In [26]:
print(scaler)

StandardScaler()

In [32]:
print (scaler, standardized_data.shape)

StandardScaler() (768, 8)

In [33]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [38]:
print(X,Y)
#x is data and Y is label means the outcome we want which is dependenet on the X

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]] 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train test spliT

In [41]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)
#X_train is the data to generate Y_train, means we want to teach the machine that with the data X_train has how to get the Y_train so
#when we will test the data with x_test we should get the Y_test 
#test_size= 0.2 is to get the 80% of the data as train data from overall data we have. 
#stratify=Y is to make split in equal form, it is beacause when we split the data may be it split the data in such a way that no diabetic come in train data so how model will learn.
#random_state is to track the index

In [43]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the Model

In [45]:
classifier = svm.SVC(kernel='linear')

In [46]:
#training the support vector machine to classifier
classifier.fit(X_train, Y_train) # now while we are trying to fit the data and label in SVC classifier which also part of SVM. AS the data is less it didn't took much time.
# once this is done we can say the model in trained

SVC(kernel='linear')

Model Evaluation

In [47]:
#Accuracy Score
#accuracy score on the training data
X_train_pridiction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_pridiction, Y_train)

In [57]:
print('Accuracy of trained data:', training_data_accuracy*100,'%')

Accuracy of trained data: 78.66449511400651 %

In [49]:
#Accuracy Score
#accuracy score on the test data
X_test_pridiction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_pridiction, Y_test)

In [53]:
print('Accuracy of trained data:', test_data_accuracy*100,'%')

Accuracy of trained data: 77.27272727272727 %

In [ ]:
#now the train accuracy is more then the test accuracy, if the train data is accuracy is less then the test data it the case of overfitting, means not overtrain data.

Making a predictive data

In [68]:
input_data_1 = (8,99,84,0,0,35.4,0.388,50)
input_data_2 = (2,197,70,45,543,30.5,0.158,53)

#changing the input data to numpy array
input_data_array_1 = np.asarray(input_data_1)
input_data_array_2 = np.asarray(input_data_2)

# reshape the np array as we are predicting for one instance
input_data_reshaped_1 = input_data_array_1.reshape(1,-1)
input_data_reshaped_2= input_data_array_2.reshape(1,-1)

#standizing the data
std_data_1 = scaler.transform(input_data_reshaped_1)
std_data_2 = scaler.transform(input_data_reshaped_2)

prediction1 = classifier.predict(std_data_1)
prediction2 = classifier.predict(std_data_2)

print(prediction1, prediction2)

if (prediction1[0]==0):
  print('Non Diabetic')
else:
  print('Diabetic')
if (prediction2[0]==0):
  print('Non Diabetic')
else:
  print('Diabetic')

[0] [1]
Non Diabetic
Diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"